@use "component/form";
@use "component/paragraph";
@use "component/megamenu";
@use "component/navbar";
@use "component/node";

// Remove extra hz whitespace.
.main-container>.row {
  margin-left: 0;
  margin-right: 0;

  &>section {
    padding-left: 0;
    padding-right: 0;
  }
}
